
body {
	margin: 0;
	font-family: sans-serif, arial;
	overflow-y: scroll;
}

a:visited {
    color: blue;
}

/**************************************/

div.resource-list-container {
	margin: auto;
	width: 80vw;
    border: thin solid grey;
    border-radius: 5px;
    background-color: white;
    padding: 0;
}

div.resource-list-item {
	padding: 0;
	border-bottom: thin solid black;
}

div.resource-list-item:hover {
	background-color: lightgrey;
	cursor: pointer;
	/*border: thin solid darkgrey;*/
}

div.resource-list-item-row {
	
}

div.resource-list-item-row:hover {
	/*background-color: lightgrey;*/
}


div.primary-data-row {
	display: inline-block;
	width: 98%;
	height: auto;
	padding: 0.3% 1% 0.5% 1%;

}

div.secondary-data-row {
	display: none;
	height: auto;
	max-height: 40vh
	width: 98%;
}

div.primary-row-data-block {
	width: calc(100% / 4 - .5%);
}

div.secondary-row-data-block {
	width: calc(100% / 4 - .5%);
}

div.secondary-row-data-col-container {
	width: 500px;
	background-color: yellow;
}

div.row-data-block {
	vertical-align: top;
	width: calc(98%/4);
	display: inline-block;
}

div.row-data-item {
	/*background-color: lightgrey;*/
	padding: 3%;
	margin: 1.5%;
}

div.row-data-item-heading {
	/*font-style: bold;*/
}

div.row-data-item-text {
	/*background-color: white;*/
	padding: 2px 8px 2px 8px;
	overflow-x: hidden;
}

button.btn-row-expand {
	width: 100%;
	text-align: center;
	background-color: lightgrey;
	border: thin solid black;
}

button.btn-row-expand:hover {
	background-color: darkgrey;
}

button.btn-row-expand:focus {
	outline: none;
}

div.data-upToDate > div.row-data-item-text {
	background-color: lightgreen;
}

div.full-length-data-item {
	height: 95%;
}

div.half-length-data-item {
	height: 45%;
}

div.keyword-container, 
div.service-container {
	height: auto;
	max-height: 30vh;
	width: 100%;
	overflow-y: scroll;
}

div.keyword-tag,
div.service-tag,
div.upToDate-tag {
	width: auto;
	display: inline-block;
	background-color: lightgreen;
	border-radius: 10%;
	padding: 2%;
	margin: 1.5%;
	float: left;
}

ul.contact-list {
	list-style: none;
	list-style-position: top;
	margin: 0;
	padding: 0.1% 3% 0.5% 3%;
	background-color: lightgrey;
}

li.contact-person {
	margin: 5% 0 3% 0;
}

ul.contact-details {
	margin-left: 0;
	padding-left: 10%;
	/*overflow-wrap: break-word;*/
}

ul.contact-details > li {
	/*overflow-wrap: break-word;*/
}

div.secondary-data-row-expanded {
	display: initial;
}

.scrollable {
	overflow-wrap: break-word;
	overflow-y: scroll;
}
