
.center {
	margin: auto;
	text-align: center;
	vertical-align: middle;
}

.resource-row {
	margin: auto;
	padding: 0;
	width: 81vw;
	text-align: left;
}

.btn-light {
	border: thin solid black;
}

td.name {
	max-width: 21vw;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

td.description {
	max-width: 30vw;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

td.no-wrap-col {
	white-space: nowrap;
}

#resource-editor {
	height: 80vh;
	min-height: 80vh;
}

#tab-content {
	height: 100%;
}

.service-tag .multiselect__tag {background:rgb(241,155,44)}
.service-tag .multiselect__tag-icon:hover{background:#D68D35}
.service-tag .multiselect__tag-icon:after{color:dimgray}
.service-tag .multiselect__option--highlight{background:rgb(241,155,44)}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
